/*** =================================================================***/
/*                        TESTIMONIALS SECTION                          */
/*** =================================================================***/

.testimonials
  box-sizing: border-box
  padding: 50px 10px
  background:
    image: url('../img/testimonials-image-one.jpg')
    repeat: no-repeat
    size: cover

  h2
    color: white

  &--wrapper
    margin: 40px auto 0
    width: 880px
    blockquote
      color: white
      text-align: center
      font-style: italic

  &--author-wrapper
    margin-top: 20px
    justify-content: center
    align-items: center

  &--author-name
    margin: 0
    color: white
    font-size: 18px
    text-transform: uppercase

  &--control
    margin-top: 40px
    justify-content: center
    span
      display: block
      width: 14px
      height: 14px
      background-color: white
      border-radius: 100%
      margin: 5px
    .second-dot
      background-color: $yellow
