footer.footer
  .container
    .footer--content-wrapper.flex-row
      .footer--links-wrapper.flex-col
        h4 Menu
        a(href="#") Home
        a(href="#") About Us
        a(href="#") Blog
        a(href="#") Help
        a(href="#") Search
      .footer--links-wrapper.flex-col
        h4 Links
        a(href="#") Some link
        a(href="#") Some link
        a(href="#") Some link
        a(href="#") Some link
        a(href="#") Some link
        a(href="#") Some link
      .footer--links-wrapper.flex-col
        h4 Social
        a(href="#") Facebook
        a(href="#") Twitter
        a(href="#") Google +
        a(href="#") LinkedIn
        a(href="#") Instagram
      .footer--links-wrapper.flex-col
        .footer--subscribe-wrapper.flex-row
          i.icon-mail-alt
          h4 Subscribe
        form(method='POST').flex-col
          label Get latest updates and offers.
          input(name="email" type="email" placeholder="Email")
          input.site-button(type='submit', value='Send')
            
    h4 &copy; 2016 Tailor Made Nanny
