.section-background-line
  .header.container
    a(href="#").header--logo
    nav.header--link-wrapper
      a(href="#") Home
      a(href="#") About Us  
      a(href="#") Blog  
      a(href="#") Search  
      a(href="#") Help      
      a(href="#").last-link Marry Parker
        .header--user-avatar
          //- li
          //-   a(href="#") Profile
          //-   a(href="#") Message
          //-   a(href="#") My account
          //-   a(href="#") Jobs
          //-   a(href="#") Notifications
          //-   a(href="#") Settings
          //-   a(href="#") Log Out
            
