section.about
  .container
    h2 About us
    p Discover what makes Tailor Made Nanny Different
    .about--row-wrapper.flex-row
      .about--col-wrapper
        .about--col-text
          h3 Lorem Ipsum.
          p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
        .about--col-image
          img(src="assets/img/about-image-one.png")
          
      .about--col-wrapper.flex-col.second
        .about--col-image
          img(src="assets/img/about-image-two.png")
            
        .about--col-text
          h3 Lorem Ipsum.
          p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
