section.news
  .container
    h2 Our latest news
    .news--wrapper.flex-row
      .news--block-wrapper
        img.news--image(src="assets/img/news-one.jpg")
        h5 Photoshop's version of Lorem Ipsum.
        p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
        button.site-button.small
          a(href="#") Read More
      .news--block-wrapper
        img.news--image(src="assets/img/news-two.jpg")
        h5 Photoshop's version of Lorem Ipsum.
        p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
        button.site-button.small
          a(href="#") Read More
      .news--block-wrapper
        img.news--image(src="assets/img/news-three.jpg")
        h5 Photoshop's version of Lorem Ipsum.
        p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
        button.site-button.small
          a(href="#") Read More
