section.advantages
  .container
    h2 What are our advantages?
    .advantages--wrapper.flex-row
      .advantages--block-wrapper
        .advantages--icon.icon-one
        h4 Photoshop's version of Lorem Ipsum.
        p   Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. 
      .advantages--block-wrapper
        .advantages--icon.icon-two
        h4 Photoshop's version of Lorem Ipsum.
        p   Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. 
      .advantages--block-wrapper
        .advantages--icon.icon-three
        h4 Photoshop's version of Lorem Ipsum.
        p   Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. 
      .advantages--block-wrapper
        .advantages--icon.icon-four
        h4 Photoshop's version of Lorem Ipsum.
        p   Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. 
