section.section-slider
  .container.slider
    h1 Some text about <br> our
      span  social network
    
  .slider--desc
    .container.slider--desc-wrapper.flex-row
      .slider--col-wrapper
        h4 Photoshop's version  of 
          span Lorem Ipsum
        p Aenean sollicitudin, lorem quis bibendum auctor, nec sagittis sem nibh id elit. Aenean sollicitudin, lorem quis bibendum auctor, nec sagittis sem nibh id elit.
        button.site-button
          a(href="#") Find a caregiver
          
      .slider--col-wrapper.second
        h4 Photoshop's version  of 
          span Lorem Ipsum
        p Aenean sollicitudin, lorem quis bibendum auctor, nec sagittis sem nibh id elit. Aenean sollicitudin, lorem quis bibendum auctor, nec sagittis sem nibh id elit.
        button.site-button
          a(href="#") Find nanny positions
      
